{% extends 'layout.html' %}


{% block content %}

    <div class="form-wrapper">
      <h2 class="title">Twitter search</h2>

      <form method="POST" action="{{ url_for('twitter') }}">

        {{ form.csrf_token }}

          <fieldset class="form-field">
              {{ form.query.label }}
              {{ form.query }}
          </fieldset>

        <fieldset class="form-field">
            {{ form.start_date.label }}
            {{ form.start_date }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.end_date.label }}
            {{ form.end_date }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.num_tweets.label }}
            {{ form.num_tweets }}
        </fieldset>

          {{ form.submit }}

      </form>
    </div>

{% endblock %}